.project-detail {
  padding: 20px;
  color: #fff;
  background: var(--main-bg-image) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.project-detail img {
  width: 100%;
  max-width: 600px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.project-detail h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.project-detail p {
  font-size: 1.5em;
}
